/** Custom Properties **/

:root{

    --primario: #C2185B;
    --secundario: #FFC107;
    --primario-oscuro: rgb(156,10,69);
    --fuente-secundaria: 'Poppins', sans-serif;
    --fuente-primaria: 'Arial', Helvetica , sans-serif;
}



html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body{

    background-color: var(--primario);
    font-family: var(--fuente-primaria);

  }

  .contenedor{

    max-width: 1100px;
    margin: 0 auto;
    width: 95%;

  }

  @media (min-width: 480px){

    .contenedor{

        width: 80%;

      }

  }

  .bg-amarillo{

    background-color: var(--secundario);

  }

  .bg-blanco{

    background-color: white;


  }

  .barra{
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
  }

    /** Botones **/

  .btn{

    font-size: 2rem;
    text-decoration: none;

    }

    .btn-editar{

        color: var(--secundario);

    }

    .btn-borrar{

        color: var(--primario);

    }

    .btn-volver{

        background-color: var(--secundario);
        border-radius: 5px;
        text-align: center;
        color: black;
        font-weight: 700;
        padding: .5rem;
        font-size: 1.2rem;
    }



  .sombra{

    -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;


  }

  /*Formulario */

form{

    padding: 3rem;
    margin-top: 2rem;

}

form legend{
    font-family: var(--fuente-secundaria);
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
}

h1,h2{

    font-family: var(--fuente-secundaria);
    text-align: center;
    margin: 0;

}

.contenedor-barra h1 {

    margin: 0;

}

h1{

    padding: 10px;
    color: white;

}

h2{

    font-size: 2rem;
    color: var(--primario);


}

.contenedor-barra{

    background-color: var(--primario-oscuro);

}


legend span{

    font-size: 1rem;
    margin-top: 1rem;
    clear: both; /*Clear both*/
    display: block;
    text-align: center;

}



.campos{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 760px){


    .campos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

.campo{

    flex: 0 0 calc(33.3% - 1rem);

}



}

.campo{

    padding: .5rem 0rem;

}

.campo label{

    font-size: 1.3rem;

}

input[type="text"],input[type="tel"]{

    width: 100%;
    border: none;
    padding: .8rem;
    height: 3.4rem;
    margin-top: .8rem;
    font-size: 1.2rem;
    border-radius: .7rem;
}

.enviar{

    display: flex;
    justify-content: flex-end;

}

input[type="submit"]{

    background-color: var(--primario);
    color: white;
    border: none;
    padding: 1rem 4rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: background-color .5s ease-in-out;
    flex: 1;

}

@media (min-width: 760px){

    input[type="submit"]{

        flex: 0 0 auto;

    }


}

input[type="submit"]:hover{

    cursor: pointer;
    background-color: var(--primario-oscuro);

}


.contactos{

    padding: 2rem;
    margin-top: 3rem;
    margin-bottom: 10rem;

}

.contenedor-contactos{

    max-width: 800px;
    margin: 4rem auto 1rem auto;

}

.buscador{

    width: 100%;
    height: 4rem;
    padding: 1rem;
    border: 1px solid #e1e1e1;
    margin: 2rem 0;

}

@media (max-width: 480px){

    .contenedor-tabla{

        overflow-x: scroll;

    }


}


table{
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
}
table thead{

    background-color: var(--primario);
    color: #fff;
    text-transform:uppercase;
}


thead th{

    padding: 1rem 0;
    margin: 0;
    text-align: center;

}

table tbody td{

    padding: .5rem;

}

table tbody td:nth-child(4){

    text-align: center;


}



.btn:hover{

    cursor: pointer;

}


table button{

    background-color: transparent !important;
    border: none;

}

.total-contactos{

    text-align: center;
    margin: 2rem 0;
    color: var(--primario);
    font-size: 2rem;
    font-family: var(--fuente-secundaria);
}
.total-contactos span{

font-size: 3rem;
font-weight: 900;

}

/** Notificaciones **/


.notificacion{

    position: fixed;
    padding: 1rem 3rem;
    top: .6rem;
    right: .6rem;
    opacity: 0;
    font-size: 1rem;
    font-weight: bold;
    transition: opacity 1s ease-in-out;
}

.visible{

    opacity: 1;

}

/* Colores de las notificaciones */

.exito{

    background-color: rgb(179,241,117);
    color: green;
}

.error{

    background-color: rgb(238,148,166);
    color: rgb(163,0,33);

}